.main-screen {
  background-color: #434343;
  width: 100vw;
  height: 100vh;
}

.main-screen .topbar {
  padding: 10px 20px;
  background-color: #323232;
  display: flex;
  margin-bottom: 10px;
}

.main-screen .topbar .online-icon {
  margin: auto 10px;
  background-color: #0BCD59;
  width: 15px;
  height: 15px;
  border-radius: 10px;
}

.main-screen .topbar .username {
  color: #18BCE0;
  font-size: 20px;
}

.main-screen .messages {
  overflow: auto;
  height: calc(100% - 120px);
}

.main-screen .author {
  margin: 3px 15px;
  font-size: 13px;
}

.main-screen .message {
  margin: 0px 15px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #323232;
  font-size: 15px;
  color: #C2C2C2;
}

.main-screen .other-message {
  padding: 8px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.main-screen .my-message {
  padding: 8px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-screen .my-message .author {
  color: #18BCE0;
}

.main-screen .other-message .author {
  color: #C2C2C2;
}

.main-screen .send-message {
  position: fixed;
  bottom: 10px;
  height: 40px;
  display: flex;
  width: 100%;
  padding: 5px 0px;
  background-color: #434343 ;
}

.main-screen .send-message input {
  background-color: #323232;
  color: #C2C2C2;
  font-size: 15px;
  border: none;
  padding: 0px 20px;
  border-radius: 10px;
  height: 40px;
  margin-left: 15px;
  width: calc(100% - 130px);
}

.main-screen .send-message input:focus {
  outline: none;
}

.main-screen .send-message button {
  background-color: #323232;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-left: 20px;
}

.main-screen .send-message button:hover {
  background-color: #131313;
  cursor: pointer;
}

.main-screen .send-message button:focus {
  outline: none;
}

.main-screen .send-message {
  fill: #18BCE0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: none
}

::-webkit-scrollbar-thumb {
  background: #323232;
}

::-webkit-scrollbar-thumb:hover {
  background: #131313;
}